name: Lint

on:
  push:
    branches: '**'

permissions:
  contents: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint Crate
        run: |
          make lint
